# ML Applications Mini Project
Leveraging Machine Learning for Revenue
Optimization via Strategic Couponing

Name : Franzi
Name : Alex

# Loading in the data

In [1]:
import os
import pandas as pd
import numpy as np

my_dire = os.getcwd()
data = pd.read_csv('train.csv', sep=';')

/var/folders/gw/jst10qpx499c9tkkw977rqj00000gn/T/ipykernel_46158/1618948214.py:6: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('train.csv', sep=';')

taking a look at the data

In [2]:
data.head(5)

,customernumber,date,salutation,title,domain,datecreated,newsletter,model,paymenttype,deliverytype,...,w2,w3,w4,w5,w6,w7,w8,w9,w10,target90
0,41191,2008-12-01,0,0,9,2008-12-01,0,2,2,0,...,0,0,0,0,0,0,0,0,0,0
1,38860,2008-12-16,1,0,4,2008-12-16,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
2,61917,2008-08-19,0,0,12,2008-08-19,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
3,40647,2008-06-16,1,0,8,2008-06-16,0,1,0,0,...,0,0,0,2,0,0,0,0,0,0
4,1347,2008-08-08,0,0,1,2008-08-08,0,1,1,1,...,2,0,0,0,0,0,0,0,0,0

some descriptives

In [3]:
data.describe()

,customernumber,salutation,title,domain,newsletter,model,paymenttype,deliverytype,invoicepostcode,voucher,...,w2,w3,w4,w5,w6,w7,w8,w9,w10,target90
count,32428.000000,32428.000000,32428.000000,32428.000000,32428.000000,32428.000000,32428.000000,32428.000000,32428.000000,32428.000000,...,32428.000000,32428.000000,32428.000000,32428.000000,32428.000000,32428.000000,32428.000000,32428.000000,32428.000000,32428.000000
mean,33389.298569,0.541569,0.006969,7.517115,0.169483,1.646910,1.000987,0.201955,48.752282,0.162020,...,0.276644,0.018903,0.047027,0.180986,0.027908,0.023128,0.000185,0.164981,0.092883,0.186598
std,19148.090449,0.657044,0.083192,3.683945,0.375184,0.825981,1.092677,0.401465,24.361425,0.368475,...,1.353981,0.253596,0.434265,0.561751,0.299862,0.401782,0.013601,0.836705,0.610509,0.389594
min,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,16802.750000,0.000000,0.000000,4.000000,0.000000,1.000000,0.000000,0.000000,30.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,33552.500000,0.000000,0.000000,9.000000,0.000000,1.000000,1.000000,0.000000,47.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,50034.250000,1.000000,0.000000,11.000000,0.000000,2.000000,2.000000,0.000000,66.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,66251.000000,2.000000,1.000000,12.000000,1.000000,3.000000,3.000000,1.000000,99.000000,1.000000,...,90.000000,15.000000,36.000000,14.000000,27.000000,55.000000,1.000000,48.000000,50.000000,1.000000

In [4]:
data.shape

(32428, 38)

## First look at all datatypes

In [5]:
data_types = pd.DataFrame({
    "column": data.columns,
    "dtype" : data.dtypes.values
})
data_types

                  column   dtype
0         customernumber   int64
1                   date  object
2             salutation   int64
3                  title   int64
4                 domain   int64
5            datecreated  object
6             newsletter   int64
7                  model   int64
8            paymenttype   int64
9           deliverytype   int64
10       invoicepostcode   int64
11         delivpostcode  object
12               voucher   int64
13   advertisingdatacode  object
14                  case   int64
15           numberitems   int64
16                  gift   int64
17                 entry   int64
18                points   int64
19         shippingcosts   int64
20  deliverydatepromised  object
21      deliverydatereal  object
22                weight   int64
23                  remi   int64
24                cancel   int64
25                  used   int64
26                    w0   int64
27                    w1   int64
28                    w2   int64
29                    w3   int64
30                    w4   int64
31                    w5   int64
32                    w6   int64
33                    w7   int64
34                    w8   int64
35                    w9   int64
36                   w10   int64
37              target90   int64

# Transform date variables

In [6]:
date_cols = ["date", "datecreated", "deliverydatepromised", "deliverydatereal"]

for i in date_cols:
    data[i] = pd.to_datetime(data[i], errors = "coerce")

In [7]:
data["delivpostcode"] = data["delivpostcode"].astype("str")
data["invoicepostcode"] = data["invoicepostcode"].astype("str")
# I need to convert those variables into strings as without the explanatory data analysis does not work

## Exploratory data analysis

In [34]:
import sweetviz as sv
report = sv.analyze(data)
report.show_html("sweetviz_report.html")

Done! Use 'show' commands to display/save.   |██████████| [100%]   00:00 -> (00:00 left)

Report sweetviz_report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

# Test set analysis

In [37]:
test_set = pd.read_csv("test.csv", sep=';')

/var/folders/gw/jst10qpx499c9tkkw977rqj00000gn/T/ipykernel_39546/937509457.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  test_set = pd.read_csv("test.csv", sep=';')

In [39]:
test_set.isna().sum().sort_values(ascending=False)

delivpostcode           30984
advertisingdatacode     26146
customernumber              0
w1                          0
weight                      0
remi                        0
cancel                      0
used                        0
w0                          0
w2                          0
deliverydatepromised        0
w3                          0
w4                          0
w5                          0
w6                          0
w7                          0
w8                          0
w9                          0
deliverydatereal            0
points                      0
shippingcosts               0
paymenttype                 0
salutation                  0
title                       0
domain                      0
datecreated                 0
newsletter                  0
model                       0
deliverytype                0
date                        0
invoicepostcode             0
voucher                     0
case                        0
numberitems                 0
gift                        0
entry                       0
w10                         0
dtype: int64

we have to delete here two variables which are : delivpostcode and advertisingdatacode

# Analysis of the variables

## For train data

In [9]:
data["target90"].value_counts(normalize=True)

target90
0    0.813402
1    0.186598
Name: proportion, dtype: float64

In [ ]:
# these are the misisng values in the train data
data.isna().sum()[data.isna().sum()>0].sort_values(ascending=False)

advertisingdatacode     25905
deliverydatereal         5472
deliverydatepromised        9
dtype: int64

should we remove deliverydatereal or just omitt all the missing values

In [ ]:
train = data.drop(columns=["advertisingdatacode"], axis=1)
# the variable has just to much NAs

In [20]:
# I drop the other as well for purpose 
train.drop(columns=["deliverydatereal"], inplace= True, axis=1)

In [21]:
train["promised_delivery_month"] = train["deliverydatepromised"].dt.month
train["promised_delivery_day"] = train["deliverydatepromised"].dt.day

In [22]:
train.drop(columns=["deliverydatepromised"], inplace=True, axis=1)

# Preparation for one hot encoding for the independent variables

In [19]:
for i in train.columns:
    print(i, train[i].dtype)

customernumber int64
date datetime64[ns]
salutation int64
title int64
domain int64
datecreated datetime64[ns]
newsletter int64
model int64
paymenttype int64
deliverytype int64
invoicepostcode object
delivpostcode object
voucher int64
case int64
numberitems int64
gift int64
entry int64
points int64
shippingcosts int64
deliverydatepromised datetime64[ns]
deliverydatereal datetime64[ns]
weight int64
remi int64
cancel int64
used int64
w0 int64
w1 int64
w2 int64
w3 int64
w4 int64
w5 int64
w6 int64
w7 int64
w8 int64
w9 int64
w10 int64
target90 int64

In [24]:
columns_drop = ["customernumber",
    "invoicepostcode",
    "delivpostcode",
    "target90"]

X = train.drop(columns=columns_drop)
y = data["target90"]

In [25]:
# Feature engineering for dates
X["account_age_days"] = (X["date"] - X["datecreated"]).dt.days
X["order_weekday"] = X["date"].dt.weekday
X["order_month"] = X["date"].dt.month

X.drop(columns=["date", "datecreated"], axis=1, inplace=True)